{% extends "shop/base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <div class="order-info">
        <h3>Ваше замовлення</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }} -  {{ item.product.name }}
                    <span>₴{{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Всього: ₴{{ cart.get_total_price }}</p>
    </div>
    <form action="1." method="post" class="order-form1">
        {{ form.as_p }}
        <p><input type="submit" value="Зробити замовлення"></p>
        {% csrf_token %}
    </form>
{% endblock %}