{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<h1 class="qwer">Замовлені товари</h1>
<div class="product-detail1">
    <table class="cart">
        <thead>
        <tr>
            <th></th>
            <th>Товари</th>
            <th>Кількість</th>
            <th>Ціна за одиницю</th>
            <th>Загальа ціна</th>
        </tr>
        </thead>
        <tbody>

        {% for item in cart %}
        {% with product=item.product %}

        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img class="image-detai w-10" src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}">
                </a>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ item.quantity }}</td>

            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
        </tr>

        {% endwith %}
        {% endfor %}

        </tbody>
    </table>
    <div class="text-center"><b>Загальна сума - {{ cart.get_total_price }}</b></div>
</div>
<p class="text-center pt-5 h3"><b>
    <a href="{% url 'shop:product_list' %}" class="button light m-5">Продовжити купівлю</a>
    <a href="{% url 'orders:order_create' %}" class="button">
        Зробити замовлення
    </a>
</b></p>
{% endblock %}