{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="col-md-10 text-dark">
    <div class="">
        <h3 class="text-center m-4">Живи здорово, відпочивай смачно!</h3>
        <p>Ми  - доступний сімейний магазин. В переліку тільки те, чим користуємось в  побуті, та товар від кращих виробників  Європи.  Окрім належного товару пропонуємо сервіс, з думкою про кожного, хто з нами.</p>
        <p>В нашому переліку понад 1200 позицій товару від екзотики гастрономії до серветок для прибирання в домі. Кожні 2-3 дні поповнюємо товар новинками і трендовими позиціями. Навіть вибагливі зможуть знайти свою фішку в нашому інтернет-каталозі.</p>
        <p>Дякуємо, що ви з нами !</p>
    </div>
</div>
{% endblock %}