{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-15 mb-10 text-center">
                <ul class="product-category">
                    <li><a href="#" class="active">Всі товари</a></li>
                    {% for category in categories%}
                    <li><a href="{{category.get_absolute_url}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-md-6 col-lg-3">
                <div class="product">
                    <a href="{{ product.get_absolute_url }}" class="img-prod">
                        {% if product.image %}
                        <img class="img-fluid"
                             src="{{ product.image.url }}"
                             alt="Colorlib Template">
                        {% endif %}
                        <!--                        <span class="status">30%</span>-->
                        <!--                        <div class="overlay"></div>-->
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">{{ product.name }}</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price">
                                    <!--                                    <span class="mr-2 price-dc">$120.00</span>-->
                                    <span class="price-sale">₴{{ product.price }}</span>
                                </p>
                            </div>
                        </div>
                        <!--                        <div class="bottom-area d-flex px-3">-->
                        <!--                            <div class="m-auto d-flex">-->
                        <!--                                <a href="#"-->
                        <!--                                   class="add-to-cart d-flex justify-content-center align-items-center text-center">-->
                        <!--                                    <span><i class="ion-ios-menu"></i></span>-->
                        <!--                                </a>-->
                        <!--                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">-->
                        <!--                                    <span><i class="ion-ios-cart"></i></span>-->
                        <!--                                </a>-->
                        <!--                                <a href="#" class="heart d-flex justify-content-center align-items-center ">-->
                        <!--                                    <span><i class="ion-ios-heart"></i></span>-->
                        <!--                                </a>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    {% include "shop/pagination.html" with page=products %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}